<mat-toolbar color="primary" class="navbar">
    <span>Darja</span>
    <span class="spacer"></span>
    <div fxShow="true" fxHide.lt-sm="true">
        <a href="" mat-button>Accueil</a>
        <a *ngIf="!loggedin" href="signin" mat-button>Connexion</a>
        <a *ngIf="!loggedin" href="signup" mat-button>Inscription</a>
        <a *ngIf="loggedin" href="add" mat-button>Ajouter</a>
        <a *ngIf="loggedin" href="profile" mat-button>Profile</a>
        <a *ngIf="loggedin" href="#" mat-button (click)="disconnect()">Déconnexion</a>
    </div>
    <div fxShow="true" fxHide.gt-xs="true">
        <button mat-icon-button (click)="changeToggler()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
</mat-toolbar>
<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav" opened="{{toggler}}" mode="side"  fxShow="true" fxHide.gt-xs="true">
        <a href="" mat-button>Accueil</a>
        <a *ngIf="!loggedin" href="signin" mat-button>Connexion</a>
        <a *ngIf="!loggedin" href="signup" mat-button>Inscription</a>
        <a *ngIf="loggedin" href="add" mat-button>Ajouter</a>
        <a *ngIf="loggedin" href="profile" mat-button>Profile</a>
        <a *ngIf="loggedin" href="#" mat-button>Déconnexion</a>
    </mat-sidenav>
    <router-outlet></router-outlet>
</mat-sidenav-container>