form {
    margin: auto;
    margin-top: 100px;
    width: 60%;
    min-width: 200px;
    max-width: 400px;
}

h1 {
    margin: 20px 0;
    text-align: center;
    font-size: x-large;
}

a {
    width: 30%;
    min-width: 200px;
    margin: auto;
}

p {
    margin: 10px 0;
    text-align: center;
    font-size: medium;
}

mat-form-field {
    width: 100%;
}